{% extends 'builder/_base.html' %}

{% block content %}

    <div class="container d-flex flex-column align-items-center">
        <h1 class="text-white">Редактирование информации</h1>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show w-100 mt-1 mb-1" role="alert">
                <strong>Успех! </strong>{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        <form action="{% url 'builder_auth:edit' %}" method="POST" class="mx-auto p-3 w-50 d-inline-block">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group text-white">
                    {{ field.label }}
                    {{ field }}
                    <div class="invalid-feedback">
                        {{ field.errors }}
                    </div>
                    <small class="form-text text-muted">{{ field.help_text }}</small>

                </div>

            {% endfor %}
            <button type="submit" class="btn btn-outline-success w-100 mt-3">Сохранить</button>
        </form>
    </div>
{% endblock %}
