{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'builder/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'builder/css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'builder/css/dropzone.css' %}"/>
    <link rel="stylesheet" href="{% static 'builder/css/all.css' %}"/>
</head>


<body class="bg-dark">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
    {% block nav %}
        <a class="navbar-brand" href="{% url 'builder:index' %}">Plan Build</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0" action="{% url 'builder:search' %}" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="Поиск пользователей" aria-label="Search"
                       name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
            </form>

            <ul class="navbar-nav ml-auto">
                <a class="nav-link my-lg-0 py-0" href="{% url 'builder:index' %}">
                    <button class="btn btn-outline-success my-sm-0">Построить</button>
                </a>
                <li class="nav-item dropdown">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                            id="navbarDropdown">{{ user.email }}</button>
                    {#        <a class="nav-link  text-white" href="#" role="button"  aria-haspopup="true" aria-expanded="false">#}
                    {#        </a>#}
                    <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'builder_auth:edit' %}">Пользователь</a>
                        <a class="dropdown-item" href="{% url 'builder:edit_fields' %}">Заполнение</a>
                        <a class="dropdown-item" href="{% url 'builder:requests' %}">Запросы</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'builder_auth:logout' %}">Выйти</a>
                    </div>
                </li>
            </ul>

        </div>
    {% endblock %}
</nav>
<hr class="m-0"/>
<main class="bg-dark p-3 mb-5">
    {% block content %}
    {% endblock %}
</main>


<footer class="text-white fixed-bottom bg-dark">
    <hr/>
    <div class="d-flex justify-content-between px-5">
        <p class="">Александр Красовский, 2018</p>
        <p class=""><a href="mailto:sane55ek@gmail.com">Сообщить о проблеме</a></p>
    </div>

</footer>

<script src="{% static 'builder/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'builder/js/popper.min.js' %}"></script>
<script src="{% static 'builder/js/bootstrap.min.js' %}"></script>
<script src="{% static 'builder/js/dropzone.js' %}"></script>
<script src="{% static 'builder/js/json2html.js' %}"></script>
<script src="{% static 'builder/js/jquery.sortElements.js' %}"></script>

{% block scripts %}
{% endblock %}

</body>

</html>
